<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a MadLibs!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill in your name and your friend's name to create your custom postcard!</h1>
    <form action="/postcard" method="post">
     <label for=" adjective1">adjective: </label>
     <input id=" adjective1" name=" adjective1" type="text">
     <label for="noun1">Noun: </label>
     <input id="noun1" name="noun1" type="text">
     <label for="verb">Verb: </label>
     <input id="verb" name="verb" type="text">
     <label for="adjective2">A different adjective: </label>
     <input id="adjective2" name="adjective2" type="text">
     <label for="noun2">A different noun: </label>
     <input id="noun2" name="noun2" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>